.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  #searchInput {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #pokemonInfo {
    margin-top: 20px;
  }
  
  #pokemonImage img {
    max-width: 200px;
    margin-top: 20px;
  }
  